
 @import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet');

 *{
 	margin: 0;
 	padding: 0;
    font-family: 'Lato', sans-serif;
 	font-size: 14px;
 	color: #222222;
    box-sizing: border-box;
 }

 a, a:hover{
 	text-decoration: none;
 	outline: 0;
 }

 li, ul, ol, button, button:focus, dl, p{
 	outline: 0!important;
 	border: none;
 	list-style: none;
 	margin: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
 }

/* Typography Setup */
 .br-0{
 	border-radius: 0px;
 }
 .br-1{
 	border-radius: 5px;
 }
 .br-2{
 	border-radius: 10px;
 }
 .br-3{
 	border-radius: 15px;
 }
 .br-4{
 	border-radius: 20px;
 }
 .br-100{
 	border-radius: 50%;
 } 
 /*padding Ending*/
 .mg-0{margin:0}.mg-1{margin:5px}.mg-2{margin:10px}.mg-3{margin:15px}.mg-4{margin:20px}.mg-5{margin:25px}.mg-50{margin:50px}.mg-60{margin:60px}.mg-70{margin:70px}.mg-80{margin:80px}.mg-90{margin:90px}.mg-100{margin:100px}.mgl-0{margin-left:0}.mgl-1{margin-left:5px}.mgl-2{margin-left:10px}.mgl-3{margin-left:15px}.mgl-4{margin-left:20px}.mgl-5{margin-left:25px}.mgl-50{margin-left:50px}.mgl-60{margin-left:60px}.mgl-70{margin-left:70px}.mgl-80{margin-left:80px}.mgl-90{margin-left:90px}.mgl-100{margin-left:100px}.mgr-0{margin-right:0}.mgr-1{margin-right:5px}.mgr-2{margin-right:10px}.mgr-3{margin-right:15px}.mgr-4{margin-right:20px}.mgr-5{margin-right:25px}.mgr-50{margin-right:50px}.mgr-60{margin-right:60px}.mgr-70{margin-right:70px}.mgr-80{margin-right:80px}.mgr-90{margin-right:90px}.mgr-100{margin-right:100px}.mgt-0{margin-top:0}.mgt-1{margin-top:5px}.mgt-2{margin-top:10px}.mgt-3{margin-top:15px}.mgt-4{margin-top:20px}.mgt-5{margin-top:25px}.mgt-50{margin-top:50px}.mgt-60{margin-top:60px}.mgt-70{margin-top:70px}.mgt-80{margin-top:80px}.mgt-90{margin-top:90px}.mgt-100{margin-top:100px}.mgb-0{margin-bottom:0}.mgb-1{margin-bottom:5px}.mgb-2{margin-bottom:10px}.mgb-3{margin-bottom:15px}.mgb-4{margin-bottom:20px}.mgb-5{margin-bottom:25px}.mgb-50{margin-bottom:50px}.mgb-60{margin-bottom:60px}.mgb-70{margin-bottom:70px}.mgb-80{margin-bottom:80px}.mgb-90{margin-bottom:90px}.mgb-100{margin-bottom:100px}
 .pd-0{padding:0}.pd-1{padding:5px}.pd-2{padding:10px}.pd-3{padding:15px}.pd-4{padding:20px}.pd-5{padding:25px}.pd-50{padding:50px}.pd-60{padding:60px}.pd-70{padding:70px}.pd-80{padding:80px}.pd-90{padding:90px}.pd-100{padding:100px}.pdl-0{padding-left:0}.pdl-1{padding-left:5px}.pdl-2{padding-left:10px}.pdl-3{padding-left:15px}.pdl-4{padding-left:20px}.pdl-5{padding-left:25px}.pdl-50{padding-left:50px}.pdl-60{padding-left:60px}.pdl-70{padding-left:70px}.pdl-80{padding-left:80px}.pdl-90{padding-left:90px}.pdl-100{padding-left:100px}.pdr-0{padding-right:0}.pdr-1{padding-right:5px}.pdr-2{padding-right:10px}.pdr-3{padding-right:15px}.pdr-4{padding-right:20px}.pdr-5{padding-right:25px}.pdr-50{padding-right:50px}.pdr-60{padding-right:60px}.pdr-70{padding-right:70px}.pdr-80{padding-right:80px}.pdr-90{padding-right:90px}.pdr-100{padding-right:100px}.pdt-0{padding-top:0}.pdt-1{padding-top:5px}.pdt-2{padding-top:10px}.pdt-3{padding-top:15px}.pdt-4{padding-top:20px}.pdt-5{padding-top:25px}.pdt-50{padding-top:50px}.pdt-60{padding-top:60px}.pdt-70{padding-top:70px}.pdt-80{padding-top:80px}.pdt-90{padding-top:90px}.pdt-100{padding-top:100px}.pdb-0{padding-bottom:0}.pdb-1{padding-bottom:5px}.pdb-2{padding-bottom:10px}.pdb-3{padding-bottom:15px}.pdb-4{padding-bottom:20px}.pdb-5{padding-bottom:25px}.pdb-50{padding-bottom:50px}.pdb-60{padding-bottom:60px}.pdb-70{padding-bottom:70px}.pdb-80{padding-bottom:80px}.pdb-90{padding-bottom:90px}.pdb-100{padding-bottom:100px}
 /* Typography Setup */

html{
    overflow-x: hidden;
/*    height: 10000px;*/
}
/*===========================================
Scroll Up
==========================================*/
#gotoup {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
    background: rgba(0,0,0,0.2);
    border-radius: 8px;
    z-index: 12;
}
#gotoup i {
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 25px;
    line-height: 25px;
    color: #00bcd5;
}
/*===========================================
main user profile section start
==========================================*/

.main_p{
    padding: 50px 160px;
}
.main_p .bg_col{

}
.main_p .user_img img{
    width: 100%;
}
.main_p .user_detains{

}
.main_p .user_detains h2{
    font-size: 30px;
    padding: 15px 0;
}
.main_p .user_detains .pro_options{

}
.main_p .user_detains .pro_options ul{
    margin: 0;
    padding: 0;
}
.main_p .user_detains .pro_options ul li{
    padding: 5px 0px;
    border-top: 1px solid #c2c2c2;
}
.main_p .user_detains .pro_options ul li:hover{
    border-left: 3px solid #854545;
    background: #f5f5f5;
}
.main_p .user_detains .pro_options ul li:last-child{
    border-bottom: 1px solid #c2c2c2;
}
.main_p .user_detains .pro_options ul li a,
.main_p .user_detains .pro_options ul li i{
    color: #000;
    padding: 0 10px;
    font-size: 14px;
}
.main_p .user_detains .pro_options ul li a i{

}
.main_p .pro_hed{
    margin: 30px 0px;
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 30px;
}
.main_p .pro_hed a{

}
.main_p .pro_hed a h2{
    font-size: 30px;
    color: #000;
}
.main_p .pro_hed p{
    font-size: 18px;
}
.main_p .pro_hed .ovrrew{

}
.main_p .pro_hed .ovrrew a{
    color: #000;
}
.main_p .pro_hed .ovrrew a i{
    color: #4bafc7;
    font-size: 18px;
    padding: 10px 3px;
}

.main_p .profoverview{
    border-left: 1px solid #c2c2c2;
    padding-left: 20px;
}
.main_p .profoverview .pad_lf{
    padding: 30px 0px;
}
.main_p .profoverview a{
    display: block;
}
.main_p .profoverview a,
.main_p .profoverview i{
    color: #4bafc7;
    padding-right: 12px;
    font-size: 18px;
}

.main_p .rsbl{
    margin-top: 60px;
    border-left: 1px solid #c2c2c2;
    padding: 20px;
}
.main_p .rsbl .about_user{

}
.main_p .rsbl .about_user h2{
    color: #4bafc7;
    font-size: 25px;
}
.main_p .rsbl .about_user span{
    font-size: 20px;
}
.main_p .rsbl .about_user p{

}

.main_p .rsbl .since_user{
    padding: 10px 0;
}
.main_p .rsbl .since_user span{
    font-size: 20px;
}
.main_p .rsbl .since_user p{

}

.main_p .rsbl .think_user{
    padding: 10px 0;
}
.main_p .rsbl .think_user span{
    font-size: 20px;
}
.main_p .rsbl .think_user p{
    font-size: 14px;
}
.main_p .rsbl .think_user small{
    font-size: 14px;
}



